@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- preloader section -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-wordpress">
        <span class="sk-inner-circle"></span>
    </div>
</div>

<!-- header section -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <img src="~/images/tm-easy-profile.jpg" class="img-responsive img-circle tm-border" alt="profile photo">
                <hr>
                <h1 class="tm-title bold shadow">@WebsitePorfolio.Resources.HomeTexts.Intro</h1>
            </div>
        </div>
    </div>
</header>

<!-- about and skills section -->
<section class="container">
    <div class="row equal">
            <div class="col-md-6 col-sm-12 about">
                <h3 class="accent">@WebsitePorfolio.Resources.HomeTexts.AboutMeTitle</h3>
                <br />
                <p>@WebsitePorfolio.Resources.HomeTexts.AboutMeContent</p>
            </div>
            <div class="col-md-6 col-sm-12 skills">
                <h2 class="white">@WebsitePorfolio.Resources.HomeTexts.SkillsTitle</h2>
                <ul class="a">
                    <li><strong>@WebsitePorfolio.Resources.HomeTexts.SkillsContent1</strong></li>
                    <li><strong>@WebsitePorfolio.Resources.HomeTexts.SkillsContent2</strong></li>
                    <li><strong>@WebsitePorfolio.Resources.HomeTexts.SkillsContent3</strong></li>
                    <li><span><strong>@WebsitePorfolio.Resources.HomeTexts.SkillsContent4</strong></span></li>
                    <li><span><strong>@WebsitePorfolio.Resources.HomeTexts.SkillsContent5</strong></span></li>
                    <li><span><strong>@WebsitePorfolio.Resources.HomeTexts.SkillsContent6</strong></span></li>
                </ul>
            </div>
    </div>
</section>

<!-- education, languages and certificate preview-->
<section class="container">
    <div class="row">
            <div class="col-md-8 col-sm-12 education">
                <h2 class="white">@WebsitePorfolio.Resources.HomeTexts.EducationTitle</h2>
                <div class="education-content">
                    <h4 class="education-title accent">@WebsitePorfolio.Resources.HomeTexts.EducationField1</h4>
                    <div class="education-school">
                        <h5>@WebsitePorfolio.Resources.HomeTexts.School1</h5><span></span>
                        <div class="align-right">
                            <h5>@WebsitePorfolio.Resources.HomeTexts.SchoolYears1</h5>
                        </div>
                    </div>
                    <p class="education-description"> @WebsitePorfolio.Resources.HomeTexts.SchoolDescription1</p>
                </div>
                <div class="education-content">
                    <h4 class="education-title accent">@WebsitePorfolio.Resources.HomeTexts.EducationField2</h4>
                    <div class="education-school">
                        <h5>@WebsitePorfolio.Resources.HomeTexts.School2</h5><span></span>
                        <div class="align-right">
                            <h5>@WebsitePorfolio.Resources.HomeTexts.SchoolYears2</h5>
                        </div>
                    </div>
                    <p class="education-description"> @WebsitePorfolio.Resources.HomeTexts.SchoolDescription2</p>
                </div>
                <div class="education-content">
                    <h4 class="education-title accent">@WebsitePorfolio.Resources.HomeTexts.EducationField3</h4>
                    <div class="education-school">
                        <h5>@WebsitePorfolio.Resources.HomeTexts.School3</h5><span></span>
                        <div class="align-right">
                            <h5>@WebsitePorfolio.Resources.HomeTexts.SchoolYears3</h5>
                        </div>
                    </div>
                    <p class="education-description">@WebsitePorfolio.Resources.HomeTexts.SchoolDescription3</p>
                </div>
                <div class="education-content">
                    <h4 class="education-title accent">@WebsitePorfolio.Resources.HomeTexts.EducationField4</h4>
                    <div class="education-school">
                        <h5>@WebsitePorfolio.Resources.HomeTexts.School4</h5><span></span>
                        <div class="align-right">
                            <h5>@WebsitePorfolio.Resources.HomeTexts.SchoolYears4</h5>
                        </div>
                    </div>
                    <p class="education-description">@WebsitePorfolio.Resources.HomeTexts.SchoolDescription4</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 languages">
                <h2>@WebsitePorfolio.Resources.HomeTexts.LanguagesTitle</h2>
                <ul>
                    <li>@WebsitePorfolio.Resources.HomeTexts.Language1</li>
                    <li>@WebsitePorfolio.Resources.HomeTexts.Language2</li>
                    <li>@WebsitePorfolio.Resources.HomeTexts.Language3</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 languages">
                <h2>@WebsitePorfolio.Resources.HomeTexts.CertificateTitle</h2>
                <div class="fadein certificate-thumbs">
                    <img class="img-thumbnail" src="~/images/certificate1.jpg">
                    <img class="img-thumbnail" src="~/images/certificate2.jpg">
                    <img class="img-thumbnail" src="~/images/certificate3.jpg">
                </div>
                <p> @Html.ActionLink(WebsitePorfolio.Resources.HomeTexts.SeeAll, "CertificateGallery", "Home")</p>
            </div>
    </div>
</section>

<!-- experience and contact-->
<section class="container">
    <div class="row equal">
            <div class="col-md-8 col-sm-12 experience">
                <h2 class="white">@WebsitePorfolio.Resources.HomeTexts.ExperienceTitle</h2>
                <div class="experience-content">
                    <h4 class="experience-title accent">@WebsitePorfolio.Resources.HomeTexts.JobPosition1</h4>

                    <h5>@WebsitePorfolio.Resources.HomeTexts.Job1</h5><span></span>
                    <div class="align-right">
                        <h5>@WebsitePorfolio.Resources.HomeTexts.JobYear1</h5>
                    </div>
                    <p class="education-description">@WebsitePorfolio.Resources.HomeTexts.JobDescription1</p>
                </div>
                <div class="experience-content">
                    <h4 class="experience-title accent">@WebsitePorfolio.Resources.HomeTexts.JobPosition2</h4>
                    <h5>@WebsitePorfolio.Resources.HomeTexts.Job2</h5>
                    <div class="align-right">
                        <h5>@WebsitePorfolio.Resources.HomeTexts.JobYear2</h5>
                    </div>
                </div>
                <p class="education-description">@WebsitePorfolio.Resources.HomeTexts.JobDescription2</p>
            </div>
            <div class="col-md-4 col-sm-12 contact">
                <h2>@WebsitePorfolio.Resources.HomeTexts.ContactTitle</h2>
                <p><i class="fa fa-map-marker"></i> @WebsitePorfolio.Resources.HomeTexts.City</p>
                <p><i class="fa fa-phone"></i> +48 505 800 085</p>
                <p><i class="fa fa-envelope"></i> tomasz.misiejuk@gmail.com</p>
                <p><i class="fa fa-globe"></i> www.tomaszm.aspnet.pl</p>
            </div>
    </div>
</section>